<html>
<head>

<link rel="stylesheet"type="text/css"
href= "{{ STATIC_URL }}css/createstory.css">

<title>
Create New Story
</title>


</head>

<body>

<form action="/profile" method="post">
{% csrf_token %}
<input type="submit" value="{{ User.username }} Profile"/>
</form>

<div id="title">
~To Be Continued~
</div>

<br>
<p id="create">Create</p>
<br><br>

<form action="newStory" method="post">
{% csrf_token %}
<div id="hind" >Title  <input id="hind2" type="text" name="Title"/></div><br>
<div id="First">First line  <input id="first3" type="text" name="firstLine"/></div><br>
<div id="Num">Number of lines in the story  <input id="Num2" type="text" name="numLine"/></div><br>

<input type="submit" value="Create"/>
</form>


</body>


</html>


