<html>

<head>


<link rel="stylesheet"type="text/css" href="{{ STATIC_URL }}css/HomePage.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript"  src="{{ STATIC_URL }}js/HomePage.js"></script>


<title>
To Be Continued
</title>
</head>
<body>
<span id="date"></span>

<img  id="diff" src="{{ STATIC_URL }}images/pic.jpg" alt= "Logo" 
width="95%" height="55%">

<br>
<br>
<br>
<br>
<!--<div id="border">
<table>
<tr>
<th>
<div id="username">
Username
</div></th>
<th>
<div id="pass">
Password
</div></th>
</tr>
<tr>
<td><input type="text" name="Username" placeholder="Enter Username">
</td>
<td><input type="text" name="Password" placeholder="Enter Password">
</td>
<td>
<p  id="login1">Login</p>
</td>
</tr>
</table> 
</div> -->

<br/>

<form action="/logIn" method = "post">
{% csrf_token %}
username: <input id="user" type="text" name="username" placeholder="Username"/><br><br/>
password: <input id="password" type = "password" name = "password" placeholder="Password"/><br><br/>
<input id="login2" type = "submit" value ="Login"/>
</form>

<br> <br>
<form action="signup" method="post">
{% csrf_token %}
<div id="ll">Don't have an account?
<a href="http://127.0.0.1:8001/signup" target=""> Sign up</a> now!</div>
</form>



</body>

</html>
