<html>

<head>


<link rel="stylesheet"type="text/css" href="{{ STATIC_URL }}css/HomePage.css">


<title>
To Be Continued
</title>
</head>
<body>

<img  id="diff" src="{{ STATIC_URL }}images/pic.jpg" alt= "Logo" 
width="95%" height="55%">

<br>
<br>
<br>
<br>
<div id="border">
<table>
<tr>
<th>
<div id="username">
Username
</div></th>
<th>
<div id="pass">
Password
</div></th>
</tr>
<tr>
<td><input type="text" name="Username" value="Enter Username">
</td>
<td><input type="text" name="Password" value="Enter Password">
</td>
<td>
<input type="submit" name="submit" value="Login">
</td>
</tr>
</table>
</div>

<br/>

<form action="/logIn" method = "post">
{% csrf_token %}
username: <input type="text" name="username"/><br><br/>
password: <input type = "password" name = "password"/><br><br/>
<input type = "submit" value ="Login"/>
</form>

<br> <br>
<form action="signup" method="post">
{% csrf_token %}
<div id="ll">Don't have an account?
<input type="submit" value="Sign up"/> now!</div>
</form>



</body>

</html>
