<html>

<head>


<link rel="stylesheet"type="text/css" href="{{ STATIC_URL }}css/HomePage.css">
<script type="text/javascript"  src="{{ STATIC_URL }}js/HomePage.js"></script>


<title>
To Be Continued
</title>
</head>
<body>
<span id="date"></span>



<br>
<br>
<br>
<br>
<table>
<tr>
<th>
<div id="username">
Username
</div></th>
<th>
<div id="pass">
Password
</div></th>
</tr>
<tr>
<td><input type="text" name="Username" placeholder="Enter Username">
</td>
<td><input type="text" name="Password" placeholder="Enter Password">
</td>
<td>
<input type="submit" name="submit" value="Login">
</td>
</tr>
</table>




<br>
<form action="signup" method="post">
{% csrf_token %}
<div id="ll">Don't have an account?<br><br>
<input type="submit" value="Sign up"/> now!</div>
</form>



</body>

</html>
