<!Doctype html>

<html>

<head>
<link rel="stylesheet"type="text/css" href="{{ STATIC_URL }}css/continue.css"
</head>

<body>
<div id="con">~Library~</div>

<form action="/searchLibrary" method="post">
{% csrf_token %}
<div id="hind" > Search <input id="hind2" type="text" name="Search"/></div><br>
<input type="submit" value="Search"/>
</form>

{% for story in stories %}

<div id="story">
<a href = "/story/{{ story.id }}" target = "_blank"> {{ story.title }}</a>
</div>


{% endfor %}

</body>
</html>



