<DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/profile.css">
</head>
<body>
<h1> Welcome To Your Profile "username"</h1>
<br><br><br><br>
<h2> What Would You Like To Do<h2>



<table border=3>
<tr>
<td>Create</td>
<td>Begin a new story </td>
<td><img src="{{ STATIC_URL }}images/continue.jpg" width="50" height="50"></td>
</tr>

<tr>
<td>Continue</td>
<td>Complete old stories you have begun </td>
<td></td>
</tr>

<tr>
<td>Join</td>
<td>Join your friends and help them finish there stories</td>
<td></td>
</tr>

<tr>
<td>Read</td>
<td>Have an acces to all the stories that were written</td>
<td></td>
</tr>
</table>

</body>
</html>


