<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/signup.css"/>
</head>

<title>
To Be Continued - Sign Up

</title>

<body>

<img  id="diff" src="{{ STATIC_URL }}images/pic.jpg" alt= "Logo" 
width="95%" height="55%">


<p>
To Be Continued - Sign Up
</p>
<div id="sign_div_con">
<form id="signup_container">
	<div class="signup"><span> First name </span><input type="text" name="Firstname" placeholder="Firstname"/></div>
	<br>
	<div class="signup"><span> Last name </span> <input type="text" name="Lastname" placeholder="Lastname"/> </div>
	<br>
	<div class="signup"><span> Email </span> <input type="text" name= "Email" placeholder="Email" /> </div>
	<br>
	<div class="signup"><span> User Name </span> <input type="text" name= "UserName" placeholder="UserName"/> </div>
	<br>
	<div class="signup"><span> Password </span> <input type="text" name="Password" placeholder="Password"/> </div>
	<br>
	<input id="signupbutton" type="submit" name="submit" value="Sign Up">
</form>
</div>
</body>

</html>
