<html>

<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/signupsuccess.css"/>
</head>

<title>
To Be Continued - Sign Up

</title>

<body>

<img  id="diff" src="{{ STATIC_URL }}images/pic.jpg" alt= "Logo" 
width="95%" height="55%">

<p>The sign up was successful!</p>

<!--<input action =  id="rhp" type="submit" name="submit" value="Return To Home Page">-->

<form action="/profile" method="post">
{% csrf_token %}
<input type="submit" value="To your new profile!"/>
</form>
<br> <br>
</body>

</html>
