<html>
<head>
<link rel="stylesheet"type="text/css"
href= "{{ STATIC_URL }}css/storyline.css">
<title>
Create story
</title>
</head>
<body>
<div id="title">
~To Be Continued~
</div>

<div id="create">
Create your story
</div>
<br><br><br><br>
<br><br><br><br>

<h3>{{story.title}} </h3>

{% for line in lines %}
<p> {{ Line.content }} </p>
{% endfor %}
<br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br>
<form action="addingline" method="post">
{% csrf_token %}
Your_sentence<input type="text" name="sentence"/><br>
<input type="submit" value="Add"/>
</form>


</body>

</html>
