<html>
<head>
<link rel="stylesheet"type="text/css"
href= "{{ STATIC_URL }}css/storyline.css">
<title>
Add To Your Story
</title>
</head>
<body>
<div id="title">
~To Be Continued~
</div>

<div id="create">
Add To Your Story
</div>
<br><br><br><br>
<br><br><br><br>

{% for Line in Lines %}
<p> {{ Line.content }} </p>
{% endfor %}


<form action="submitLine" method="post">
{% csrf_token %}
<h4>Your sentence </h4><input type="text" name="sentence"/>
<input type="submit" value="Add"/>
</form>

<form action="clear" method="post">
{% csrf_token %}
<input type="submit" value="New Story"/>
</form>


</body>

</html>
