<html>
<head>
<link rel="stylesheet"type="text/css"
href= "{{ STATIC_URL }}css/storyline.css">
<title>
Create story
</title>
</head>
<body>
<div id="title">
~To Be Continued~
</div>

<div id="create">
Create your story
</div>
<br><br><br><br>
<br><br><br><br>

<h3>{{story.title}} </h3>

{% for line in lines %}
<p> {{ line.content }} </p>
{% endfor %}
<br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br>
<table>
<tr>
<td id="type"> Type your sentence </td>
<td><input id="sentence" type="text" name="sentence"></td>
</tr>
</table>
</body>

</html>
