body {background:url('../images/blue2.jpeg');
background-color:#cccccc;}

#title {color:white; font-size:500%; text-align:center;font-family:"tahoma"; font-style:normal;
}



#username {color:white; font-size:100%;font-family:"tahoma";

}

#pass {color:white; font-size:100%;font-family:"tahoma";

}
#su {color:white; font-size:100%;font-family:"tahoma";

}
#ll{color:white;font-size:100%;}

#diff {
margin-left:3%;
}

#border {border:1px solid;
	border-color:#CCCCFF;
	border-radius:10px;
	margin-right:65%
}

#login1 {color:white; font-size:60%;font-family:"tahoma";

}
