
#title {color:white; font-size:500%; text-align:center;font-family:"tahoma"; font-style:normal;
}


p {color:white; font-size:200%;font-family:"tahoma";

}

#username {color:white; font-size:100%;font-family:"tahoma";

}

#pass {color:white; font-size:100%;font-family:"tahoma";

}
#su {color:white; font-size:100%;font-family:"tahoma";

}

#diff {
margin-left:27%;
}

