body {background-image:url('../images/lb2.jpg');}

#con{color:white;font-size:400%; text-align:center;font-family:"tahoma";}

#story{font-size:150%;font-family:"tahoma";text-align:center;}

<style type="text/css">
A:link {color: white;}
A:visited {color: white;}
A:active {color: white;}
A:hover {font-weight:bold; color: white;}
</style>
