body {background:url('../images/notebookpaper.jpg');
background-color:#cccccc;}

#title {color:black; font-size:500%; text-align:center;font-family:"tahoma"; font-style:normal;
}
#create{color:black; font-size:200%;position:absolute;top:15%;right:40%;text-decoration:underline;}

#hind{color:black; font-size:110%;font-family:"tahoma";}

#First{color:black; font-size:110%;font-family:"tahoma";}

#hind2{width:15%;}

#first3{width:80%;}

#Num{color:black; font-size:110%;font-family:"tahoma";}

#num2{width:2%}
