body {background:url('../images/notebookpaper.jpg');
background-color:#cccccc;}

#title {color:black; font-size:500%; text-align:center;font-family:"tahoma"; font-style:normal;
}

/*#Add{ color:black; font-size:200%;position:absolute;top:15%;right:40%;text-decoration:underline;}*/



#sentence {width:75%;}

#sent {color:black; font-size:120%;font-family:"tahoma";}

#line{color:black;font-family:"tahoma";font-size:110%;text-align:center;}

#storytitle{color:black;font-family:"tahoma";font-size:180%;text-align:center;}

#ol{color:black;font-family:"tahoma";font-size:110%;}
