body { background-color:#2f4b66
}

#title {color:white; font-size:500%; text-align:center;font-family:"tahoma"; font-style:normal;
}

#create { color:white; font-size:200%;position:absolute;top:15%;right:40%;text-decoration:underline;}


#sentence {width:600%;}

#type {color:white; font-size:120%; font-family:"tahoma";}


p{color:white;}
